<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="leandro.soares.quevedo.scheduller">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

	<application
		android:name=".Application"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".view.activity.login.LoginActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.activity.home.HomeActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".view.activity.projects.ProjectsActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".view.activity.tasks.TasksActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".view.activity.alarms.AlarmsActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />

		<service
			android:name=".background.ClockNotificationService"
			android:exported="true" />

		<receiver android:name=".background.ClockNotificationService$Receiver">
			<intent-filter>
				<action android:name="leandro.soares.quevedo.scheduller.background.ClockNotificationService.Receiver" />
			</intent-filter>
		</receiver>

		<receiver android:name=".background.AlarmEventReceiver" />
	</application>

</manifest>